@import "tailwindcss";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../app/**/*.{js,ts,jsx,tsx}";
@source "./**/*.{js,ts,jsx,tsx}";


@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}
